<div class="dashboard-container">
  <div class="header-area">
    <div class="logo-container">
      <img src="IASName2.png" alt="School Logo" class="logo" />
    </div>

    <nav mat-tab-nav-bar class="custom-tab-nav" #tabNav [tabPanel]="tabPanel">
      <a *ngIf="isStudent()" mat-tab-link routerLink="/dashboard/fees" routerLinkActive #rla2="routerLinkActive"
        [active]="rla2.isActive">Fees</a>
      <a *ngIf="isStudent() || isAdmin()" mat-tab-link routerLink="/dashboard/fee-structure" routerLinkActive
        #rla1="routerLinkActive" [active]="rla1.isActive">Fee Structure</a>
      <a *ngIf="isStudent()" mat-tab-link routerLink="/dashboard/payment-history" routerLinkActive
        #rla5="routerLinkActive" [active]="rla5.isActive">Payment History</a>
      <a *ngIf="isStudent()" mat-tab-link routerLink="/dashboard/apply-leave" routerLinkActive #rla6="routerLinkActive"
        [active]="rla6.isActive">Apply Leave</a>
      <a *ngIf="isStudent()" mat-tab-link routerLink="/dashboard/student-attendance" routerLinkActive
        #rla8="routerLinkActive" [active]="rla8.isActive">Student Attendance</a>
      <a *ngIf="isTeacher()" mat-tab-link routerLink="/dashboard/teacher-attendance" routerLinkActive
        #rla7="routerLinkActive" [active]="rla7.isActive">Teacher Attendance</a>
      <a *ngIf="isTeacher() || isAdmin()" mat-tab-link routerLink="/dashboard/student-list" routerLinkActive
        #rla9="routerLinkActive" [active]="rla9.isActive">Students</a>
      <a *ngIf="isTeacher() || isAdmin()" mat-tab-link routerLink="/dashboard/view-leaves" routerLinkActive
        #rla10="routerLinkActive" [active]="rla10.isActive">Leaves</a>
      <a *ngIf="isAdmin()" mat-tab-link routerLink="/dashboard/payment-history-admin" routerLinkActive
        #rla11="routerLinkActive" [active]="rla11.isActive">Payment History</a>
      <a *ngIf="isAdmin()" mat-tab-link routerLink="/dashboard/teacher-list" routerLinkActive #rla12="routerLinkActive"
        [active]="rla12.isActive">Teachers</a>
      <a *ngIf="isAdmin()" mat-tab-link routerLink="/dashboard/notice" routerLinkActive #rla13="routerLinkActive"
        [active]="rla13.isActive">Notice</a>
      <a *ngIf="isAdmin()" mat-tab-link routerLink="/dashboard/register" routerLinkActive #rla13="routerLinkActive"
        [active]="rla13.isActive">Register</a>
      <a *ngIf="isStudent() || isTeacher() || isAdmin()" mat-tab-link routerLink="/dashboard/event-calendar"
        routerLinkActive #rla14="routerLinkActive" [active]="rla14.isActive">Event Calendar</a>
      <a *ngIf="isAdmin()" mat-tab-link routerLink="/dashboard/event-new" routerLinkActive #rla15="routerLinkActive"
        [active]="rla15.isActive">Create Event</a>
      <a *ngIf="isAdmin()" mat-tab-link routerLink="/dashboard/notification-form" routerLinkActive
        #rla15="routerLinkActive" [active]="rla15.isActive">Create Notification</a>
    </nav>

    <div class="profile-area">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu" class="custom-profile-menu">
        <div class="profile-details">
          <div class="profile-overview">
            <div class="user-initials">
              {{ (Role ? Role.charAt(0) : '') }}
            </div>
            <div class="user-main-info">
              <div class="profile-detail-row">
                <span class="detail-label">ID</span><span class="detail-colon">:</span> <span class="detail-value">{{ Id
                  }}</span>
              </div>
              <div class="profile-detail-row">
                <span class="detail-label">Role</span><span class="detail-colon">:</span> <span class="detail-value">{{
                  Role }}</span>
              </div>
              <div class="profile-detail-row" *ngIf="isTeacher() && ClassTeacher">
                <span class="detail-label">Class Teacher</span><span class="detail-colon">:</span> <span
                  class="detail-value">{{ ClassTeacher }}</span>
              </div>
            </div>
          </div>

          <hr class="profile-separator" />
          <button *ngIf="isStudent() || isTeacher()" mat-menu-item (click)="navigateToMyProfile()" class="profile-btn">
            <mat-icon class="button-icon">person</mat-icon> My Profile
          </button>
          <button mat-menu-item class="logout-button" (click)="logout()" class="logout-btn">
            <mat-icon class="button-icon">logout</mat-icon> Logout
          </button>
        </div>
      </mat-menu>
    </div>
  </div>

  <mat-tab-nav-panel #tabPanel>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>
</div>