<div class="admin-list-container">
    <div class="admin-list-area">
        <div class="list-header">
            <h2>List of Administrators</h2>
            <button *ngIf="loggedInUserRole === 'SUPER_ADMIN'" class="create-admin-button"
                (click)="navigateToRegisterAdmin()">
                Register New Admin
            </button>
        </div>

        <div *ngIf="admins.length > 0; else noAdminsContainer">
            <ul class="admin-list">
                <li *ngFor="let admin of admins" class="admin-item" (click)="viewAdminDetails(admin.adminId)">
                    <div class="admin-info">
                        <span class="admin-name">{{ admin.name }}</span>
                        <span class="admin-id-label">({{ admin.adminId }})</span>
                    </div>

                    <div class="button-group">
                        <button class="view-details-button" (click)="viewAdminDetails(admin.adminId)">
                            View Details
                        </button>

                        <button *ngIf="loggedInUserRole === 'SUPER_ADMIN'" class="delete-button"
                            (click)="deleteAdmin($event, admin.adminId)">
                            Delete
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <ng-template #noAdminsContainer>
            <p class="no-admins">No administrators found.</p>
        </ng-template>
    </div>
</div>