<div class="notification-management-container">
    <mat-card class="notification-form-card">
        <mat-card-header>
            <mat-card-title #editNotificationTitle>{{ isEditing ? 'Edit Notification' : 'Create New Notification'
                }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()" class="notification-form">

                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" formControlName="title" class="form-control">
                    <div *ngIf="notificationForm.get('title')?.hasError('required') && notificationForm.get('title')?.touched"
                        class="error-message">
                        Title is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" formControlName="message" rows="3" class="form-control"></textarea>
                    <div *ngIf="notificationForm.get('message')?.hasError('required') && notificationForm.get('message')?.touched"
                        class="error-message">
                        Message is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="type">Type:</label>
                    <select id="type" formControlName="type" class="form-control">
                        <option *ngFor="let type of typeOptions" [value]="type">{{ type }}</option>
                    </select>
                    <div *ngIf="notificationForm.get('type')?.hasError('required') && notificationForm.get('type')?.touched"
                        class="error-message">
                        Type is required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="audience">Audience:</label>
                    <select id="audience" formControlName="audience" class="form-control">
                        <option *ngFor="let audience of audienceOptions" [value]="audience">{{ audience }}</option>
                    </select>
                    <div *ngIf="notificationForm.get('audience')?.hasError('required') && notificationForm.get('audience')?.touched"
                        class="error-message">
                        Audience is required.
                    </div>
                </div>

                <div class="form-actions">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!notificationForm.valid">
                        {{ isEditing ? 'Update Notification' : 'Create Notification' }}
                    </button>
                    <button mat-button type="button" (click)="resetForm()">Cancel</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="notifications.length" class="notification-list-card">
        <mat-card-header>
            <mat-card-title>Existing Notifications</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="notification-cards-container">
                <div *ngFor="let element of notifications" class="notification-card">
                    <h3>{{ element.title }}</h3>
                    <div class="details-section">
                        <p class="message-line"><strong>Message:</strong> <span>{{element.message}}</span></p>
                        <p><strong>Type:</strong>
                            <span class="type-display" [ngClass]="getTypeClass(element.type)">
                                <mat-icon class="type-icon">{{ getTypeIcon(element.type) }}</mat-icon>
                                {{ element.type }}
                            </span>
                        </p>
                        <p><strong>Audience:</strong> {{ element.audience }}</p>
                    </div>
                    <div class="card-actions">
                        <button mat-icon-button color="primary" (click)="editNotification(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteNotification(element.id!)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="notifications.length === 0" class="mat-no-data-row">
                    No notifications found.
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>