<div class="student-list-container">
  <div *ngIf="loggedInUserRole === 'ADMIN'" class="left-navigation">
    <h2>Classes</h2>
    <ul class="class-list-vertical">
      <li (click)="onClassSelect('all')" [class.selected]="selectedClass === 'all'" class="class-item-vertical">
        <div class="chevron">
          <span>All Leaves</span>
        </div>
      </li>
      <li *ngFor="let className of classList" (click)="onClassSelect(className)"
        [class.selected]="selectedClass !== 'all' && className === selectedClass" class="class-item-vertical">
        <div class="chevron">
          <span>{{ className }}</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="student-list-area">
    <h2 *ngIf="loggedInUserRole === 'TEACHER'">Leave Applications for Class {{ loggedInUserClass }}</h2>
    <h2 *ngIf="loggedInUserRole === 'ADMIN'">
      Leave Applications {{ selectedClass !== 'all' ? 'for Class ' + selectedClass : '- All Leaves' }}
    </h2>

    <div class="filter-options">
      <div class="form-group">
        <label for="date" class="form-label">Filter by Date:</label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (ngModelChange)="onDateSelect()"
            id="date">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="studentIdFilter" class="form-label">Filter by Student ID:</label>
        <mat-form-field appearance="outline">
          <input matInput [(ngModel)]="studentIdFilter" (input)="onStudentIdInput()" id="studentIdFilter">
        </mat-form-field>
      </div>
      <button class="clear-filter-button" (click)="clearFilter()">Clear Filter</button>
      <button *ngIf="loggedInUserRole === 'ADMIN'" class="delete-all-button" (click)="deleteAllFilteredLeaves()">Delete
        Leaves</button>
    </div>

    <div class="top-pagination-controls" *ngIf="totalElements > 0">
      <div class="page-info">
        Total: {{ totalElements }} leaves
      </div>
      <div class="page-size">
        Applications per page:
        <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">{{ size }}</option>
        </select>
      </div>
    </div>

    <div *ngIf="filteredLeaves.length > 0; else noLeavesContainer">
      <div class="leave-table-container">
        <table class="leave-table">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Leave Date</th>
              <th>Reason</th>
              <th *ngIf="loggedInUserRole === 'ADMIN'">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of filteredLeaves" class="leave-row">
              <td>{{ leave.studentId }}</td>
              <td>{{ leave.studentName }}</td>
              <td>{{ leave.leaveDate }}</td>
              <td>{{ leave.reason }}</td>
              <td *ngIf="loggedInUserRole === 'ADMIN'">
                <button class="delete-button" (click)="deleteLeave(leave.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="leave-cards-container">
        <div class="leave-card" *ngFor="let leave of filteredLeaves">
          <div class="card-item">
            <span class="card-label">Student ID:</span>
            <span class="card-value">{{ leave.studentId }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Student Name:</span>
            <span class="card-value">{{ leave.studentName }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Leave Date:</span>
            <span class="card-value">{{ leave.leaveDate }}</span>
          </div>
          <div class="card-item">
            <span class="card-label">Reason:</span>
            <span class="card-value">{{ leave.reason }}</span>
          </div>
          <div class="card-actions" *ngIf="loggedInUserRole === 'ADMIN'">
            <button class="card-delete-button" (click)="deleteLeave(leave.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noLeavesContainer>
      <p class="no-students">No leave applications found{{ selectedClass !== 'all' && loggedInUserRole === 'ADMIN' ? '
        for the selected class.'
        : (loggedInUserRole === 'TEACHER' ? ' for your class.' : '') }} for the applied filters.</p>
    </ng-template>

    <div class="pagination-controls" *ngIf="totalElements > 0">
      <div class="pagination-buttons">
        <button (click)="prevPage()" [disabled]="currentPage === 0">Previous</button>

        <ng-container *ngFor="let pageItem of getPaginationDisplayPages()">
          <ng-container *ngIf="pageItem !== '...'; else ellipsisTemplate">
            <button (click)="goToPage(+pageItem)" [class.active]="currentPage === +pageItem">
              {{ +pageItem + 1 }}
            </button>
          </ng-container>
          <ng-template #ellipsisTemplate>
            <span class="ellipsis">{{ pageItem }}</span>
          </ng-template>
        </ng-container>

        <button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next</button>
      </div>
    </div>
  </div>
</div>