<div class="home-container">
    @if(!authenticated){
      <button mat-button class="login-button" (click)="login()">Login</button>
    }@else{
      <button mat-button class="login-button" (click)="logout()">Logout</button>
    }
    <div class="content">
      <img src="/LOGO.avif" alt="School Logo" class="logo">
        <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Indra Academy Sr. Sec. School</h1>
        <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif" >Nainital, Haldwani</h2>
        <hr style="width: 50%; border: 1px solid white;">
        <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Affiliated to CBSE, New Delhi</h3>
    </div>
</div>