<div >
    <div class="header">
      <h2>Bus Fees Structure {{currentSession}}</h2>
  
      <div class="actions">
        <div class="session-select-wrapper">
          <label for="session-select">Academic Session:</label>
          <select id="session-select" [(ngModel)]="currentSession" (change)="changeSession(currentSession)">
            <option *ngFor="let session of sessions" [value]="session">{{ session }}</option>
          </select>
        </div>
  
        <button (click)="startNewAcademicYear()">Start New Academic Year</button>
  
        <button *ngIf="!isEditing && canEdit()" (click)="edit()">Edit</button>
        <div *ngIf="isEditing">
          <button (click)="save()">Save</button>
          <button (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  
    <table class="bus-fees-table">
      <thead>
        <tr>
          <th>Min Distance (Km)</th>
          <th>Max Distance (Km)</th>
          <th>Fee (₹)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fee of busFeeStructures[currentSession]">
          <td>
            <input *ngIf="isEditing" type="number" [(ngModel)]="fee.minDistance" />
            <span *ngIf="!isEditing">{{ fee.minDistance }}</span>
          </td>
          <td>
            <input *ngIf="isEditing" type="number" [(ngModel)]="fee.maxDistance" />
            <span *ngIf="!isEditing">{{ fee.maxDistance !== null ? fee.maxDistance : 'Above' }}</span>
          </td>
          <td>
            <input *ngIf="isEditing" type="number" [(ngModel)]="fee.fee" />
            <span *ngIf="!isEditing">{{ fee.fee }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>