<div class="student-details-container" *ngIf="studentDetails && updatedDetails">
  <div class="header">
    <h2>Student Profile</h2>
    <div class="header-buttons">
      <button *ngIf="getUserRole() === 'ADMIN' && !isEditing" (click)="enableEditMode()">Edit Details</button>
      <div *ngIf="getUserRole() === 'ADMIN' && isEditing">
        <button (click)="saveStudentDetails()">Save</button>
        <button (click)="cancelEditMode()">Cancel</button>
      </div>
      <button *ngIf="getUserRole() !== 'TEACHER'" (click)="changePassword()">Change Password</button>
    </div>
  </div>

  <div class="details-grid">
    <div class="detail-item">
      <span class="label">Name:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.name }}</span>
      <input type="text" *ngIf="isEditing" [(ngModel)]="updatedDetails.name" (input)="updateFieldValue('name', $event)">
    </div>
    <div class="detail-item">
      <span class="label">Student ID:</span>
      <span class="value">{{ studentDetails.studentId }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Class:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.className }}</span>
      <input type="text" *ngIf="isEditing && getUserRole() === 'ADMIN'" [(ngModel)]="updatedDetails.className"
        (input)="updateFieldValue('className', $event)">
      <span class="value" *ngIf="isEditing && getUserRole() !== 'ADMIN'">{{ studentDetails.className }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Phone:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.phoneNumber }}</span>
      <input type="text" *ngIf="isEditing" [(ngModel)]="updatedDetails.phoneNumber"
        (input)="updateFieldValue('phoneNumber', $event)">
    </div>
    <div class="detail-item">
      <span class="label">Email:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.email }}</span>
      <input type="email" *ngIf="isEditing" [(ngModel)]="updatedDetails.email"
        (input)="updateFieldValue('email', $event)">
    </div>
    <div class="detail-item">
      <span class="label">Date of Birth:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.dob | date }}</span>
      <input type="date" *ngIf="isEditing" [(ngModel)]="updatedDetails.dob" (input)="updateFieldValue('dob', $event)">
    </div>
    <div class="detail-item parent-info">
      <span class="label">Father:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.fatherName }}</span>
      <input type="text" *ngIf="isEditing" [(ngModel)]="updatedDetails.fatherName"
        (input)="updateFieldValue('fatherName', $event)">
    </div>
    <div class="detail-item parent-info">
      <span class="label">Mother:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.motherName }}</span>
      <input type="text" *ngIf="isEditing" [(ngModel)]="updatedDetails.motherName"
        (input)="updateFieldValue('motherName', $event)">
    </div>

    <div *ngIf="getUserRole() === 'ADMIN'" class="detail-item">
      <span class="label">Uses Bus Facility:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.takesBus ? 'Yes' : 'No' }}</span>
      <div *ngIf="isEditing">
        <input type="checkbox" id="takesBus" [(ngModel)]="updatedDetails.takesBus"
          (change)="updateFieldValue('takesBus', $event)">
      </div>
    </div>
    <div class="detail-item"
      *ngIf="getUserRole() === 'ADMIN' && (studentDetails.takesBus || (isEditing && updatedDetails.takesBus))">
      <span class="label">Distance (km):</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.distance }}</span>
      <input type="number" *ngIf="isEditing" [(ngModel)]="updatedDetails.distance"
        (input)="updateFieldValue('distance', $event)">
    </div>
    <div *ngIf="getUserRole() === 'ADMIN'" class="detail-item">
      <span class="label">Joining Date:</span>
      <span class="value" *ngIf="!isEditing">{{ studentDetails.joiningDate | date }}</span>
      <input type="date" *ngIf="isEditing" [(ngModel)]="updatedDetails.joiningDate"
        (input)="updateFieldValue('joiningDate', $event)">
    </div>
  </div>

  <div *ngIf="getUserRole() !== 'STUDENT'" class="actions">
    <button (click)="viewAttendance()">View Attendance</button>
    <button *ngIf="getUserRole() === 'ADMIN'" class="payment-history-button" (click)="viewPaymentHistory()">View Payment
      History</button>
    <button (click)="viewLeaves()" class="view-leaves-button">View Applied Leaves</button>
    <button *ngIf="getUserRole() === 'ADMIN'" class="fees" (click)="viewFeeDetails()">View Fee Details</button>
  </div>
  <button class="back-button" *ngIf="getUserRole() === 'STUDENT'" (click)="goBack()">Go Back</button>
</div>

<div *ngIf="!studentDetails">
  <p class="loading-message">Loading student details...</p>
</div>