/* payment-details.component.css */
.payment-details-container {
  padding: 3rem;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #92e0f5, #ecf5f6);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 800px;
  margin: 2rem auto;
}

h2 {
  margin-top: -10px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}


.details-table-container table {
  margin-bottom: 4rem;
  border: 1.5px solid #140f0f;
  border-collapse: separate;
  border-spacing: 0.2px;
}

td {
  border: 1px solid #140f0f;
}

.payment-details-container h3 {
  color: #333;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.payment-details-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.payment-details-container h2 {
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.loading-message,
.error-message {
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}

.loading-message {
  background-color: #d1e8ff;
  color: #2979ff;
  border: 1px solid #a8c8e8;
}

.error-message {
  background-color: #ffe0e0;
  color: #d32f2f;
  border: 1px solid #f9bdbb;
}

.details-table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  animation: slideIn 0.6s ease-out;
}

td {
  padding: 1.5rem;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

td:hover {
  background-color: #f5f5f5;
}

.label {
  font-weight: 600;
  background-color: #f0f8ff;
  width: 200px;
  color: #444;
}

.status-success {
  color: #46c94b;
  font-weight: bold;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .payment-details-container {
    padding: 1.5rem;
  }

  td {
    padding: 1rem;
    font-size: 0.9rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .label {
    width: 100%;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}

.receipt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.receipt-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.download-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.download-button svg {
  transition: transform 0.2s ease;
}

.download-button:hover svg {
  transform: scale(1.1);
  color: #007bff;
}